[submodule "hybrid-image-processing"]
	path = hybrid-image-processing
	url = https://github.com/malak-codes/hybrid-image-processing
[submodule "Computer-Vision-"]
	path = Computer-Vision-
	url = https://github.com/malak-codes/Computer-Vision-
[submodule "deep-style-image-prior"]
	path = deep-style-image-prior
	url = https://github.com/malak-codes/deep-style-image-prior
[submodule "hybrid-image-fourier"]
	path = hybrid-image-fourier
	url = https://github.com/malak-codes/hybrid-image-fourier
[submodule "audio-watermarking-morse"]
	path = audio-watermarking-morse
	url = https://github.com/malak-codes/audio-watermarking-morse
